[mysqld]
# Config file for User Feedback Plugin
# See https://mariadb.com/kb/en/mariadb/feedback-plugin/
# for more configation options

# Enable (ON) or disable (OFF) the Feedback plugin.
feedback=ON

# URL to which the data is sent.
# More than one URL, separated by spaces, can be specified.
# Set it to an empty string to disable data sending.
#feedback_url=https://mariadb.org/feedback_plugin/post
