#!/bin/bash

set -e

. /usr/share/debconf/confmodule

if [ -n "$DEBIAN_SCRIPT_DEBUG" ]; then set -v -x; DEBIAN_SCRIPT_TRACE=1; fi
${DEBIAN_SCRIPT_TRACE:+ echo "#42#DEBUG# RUNNING $0 $*" 1>&2 }

# Beware that there are two ypwhich one of them needs the 2>/dev/null!
if test -n "`which ypwhich 2>/dev/null`"  &&  ypwhich >/dev/null 2>&1; then
  db_input high mariadb-server-10.0/nis_warning || true
  db_go
fi

# opt-in for MariaDB User Feedback Plugin
# use value from existing config file
fb_cfg=/etc/mysql/mariadb.conf.d/50-feedback.cnf
if [ -e "$fb_cfg" ] && grep -q '^feedback=ON$' "$fb_cfg"; then
    db_set mariadb-server-10.0/feedback_plugin true
else
    db_set mariadb-server-10.0/feedback_plugin false
fi

db_input medium mariadb-server-10.0/feedback_plugin || true
db_go
